:root {
  --main-font: 'Poppins', 'sans-serif';

  --background: #16161a;
  --button: #7f5af0;
  --headline: #fffffe;
  --button-text: #fffffe;
  --paragraph: #94a1b2;
  --stroke: #010101;
  --main: #fffffe;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    background: url(./files/bg.jpg);
    filter: brightness(0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-sec-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.stopwatch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2rem;
}

.alt-title:nth-child(1) {
    font-size: 60px;
    color: var(--tertiary);
    font-family: var(--main-font);
}

.alt-title:nth-child(2) {
    font-size: 30px;
    color: var(--paragraph);
}

.main-timer {
    font-size: 7em;
    color: var(--headline);
    text-align: center;
    
   

}

.p-btns {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

#main-btn {
    /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
    /* with hue-rotate color can be changed */
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);
  
    /* change this rotation value */
    filter: hue-rotate(0deg);
  
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(
        circle,
        var(--main-bg-color) 0%,
        rgba(0, 0, 0, 0) 95%
      ),
      linear-gradient(var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size:
      cover,
      15px 15px,
      15px 15px;
    background-position:
      center center,
      center center,
      center center;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out;
  }
  
  #main-btn:hover {
    background-size:
      cover,
      10px 10px,
      10px 10px;
  }
  #main-btn:active {
    filter: hue-rotate(250deg);
  }
  
  #stop-btn {
    /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
    /* with hue-rotate color can be changed */
    --main-color: rgb(213, 46, 46);
    --main-bg-color: rgba(213, 46, 46, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);
  
    /* change this rotation value */
    filter: hue-rotate(0deg);
  
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(
        circle,
        var(--main-bg-color) 0%,
        rgba(0, 0, 0, 0) 95%
      ),
      linear-gradient(var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size:
      cover,
      15px 15px,
      15px 15px;
    background-position:
      center center,
      center center,
      center center;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out;
  }
  
  #stop-btn:hover {
    background-size:
      cover,
      10px 10px,
      10px 10px;
  }
  #stop-btn:active {
    filter: hue-rotate(250deg);
  }

  #reset-btn {
    /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
    /* with hue-rotate color can be changed */
    --main-color: rgb(24, 128, 10);
    --main-bg-color: rgba(46, 49, 213, 0.548);
    --pattern-color: rgba(46, 213, 116, 0.073);
  
    /* change this rotation value */
    filter: hue-rotate(0deg);
  
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(
        circle,
        var(--main-bg-color) 0%,
        rgba(0, 0, 0, 0) 95%
      ),
      linear-gradient(var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size:
      cover,
      15px 15px,
      15px 15px;
    background-position:
      center center,
      center center,
      center center;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-size 0.2s ease-in-out;
  }
  
  #reset-btn:hover {
    background-size:
      cover,
      10px 10px,
      10px 10px;
  }
  #reset-btn:active {
    filter: hue-rotate(250deg);
  }
  
